{% extends "auctions/layout.html" %}
{% load widget_tweaks %}

{% block body %}
{% if errors %}
    <div class="alert alert-danger">
        <strong>Error!</strong> There are issues with your submission:<br>
        {{ errors }}
    </div>
{% endif %}
    <div class="container">
        <h1 class="p-2">Create your listing</h1>
        <form action="{% url "create" %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% with WIDGET_ERROR_CLASS='my_error' WIDGET_REQUIRED_CLASS='my_required' %}
                <div>
                    Please input item title :{% render_field form.name class+="form-control m-2" placeholder="" %}
                </div>
                <div>
                    Please input the item description :{% render_field form.desc class+="form-control m-2" placeholder="" %}
                </div>
                <div>
                    Upload image : </br>{% render_field form.image class+="form-control m-2" %}</br> or image URL : {% render_field form.image_url class+="form-control m-2" placeholder="" %}
                </div>
                <div>
                    Please select category :{% render_field form.category class+="form-control m-2" %}
                </div>
                <div>
                    Please add starting price :{% render_field form.starting_price class+="form-control m-2" placeholder="" %}
                </div>
            {% endwith %}
            <button type="submit" class="m-2">submit</button>
        </form>
    </div>
{% endblock %}