{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    <div class="card border-primary mb-3">
        <div class="row g-0">
            <div class="col-md-3 p-2 center border align-item-center">
                <img src="https://images.pexels.com/photos/574073/pexels-photo-574073.jpeg?auto=compress&cs=tinysrgb&w=1600" class="img-fluid list-sizing rounded-top mx-auto my-auto" alt="...">
            </div>
            <div class="col-md-9">
                <div class="card-body">
                    <h3 class="card-title">Card title</h3>
                    <p class="card-text">PRICE</p>
                    <p class="card-text text-limit">{% lorem how_many_paragraphs %} {% lorem how_many_paragraphs %} {% lorem how_many_paragraphs %} {% lorem how_many_paragraphs %}</p>
                    <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                    <a href="{% url 'listing' %}" class="btn btn-primary stretched-link">Check Out The Bid</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}