{% extends "auctions/layout.html" %}
{% load widget_tweaks %}
{% block body %}
    <div class="card mb-3 mx-auto border-0" style="width: 80%;">
        <div class="row g-0">
            <div class="col-md-4 my-auto mx-auto">
                <img src="{% if listing.image %}{{listing.image.url}}{% elif listing.image_url %}{{ listing.image_url }}{% else %}https://upload.wikimedia.org/wikipedia/commons/a/ac/No_image_available.svg{% endif %}" class="img-fluid list-sizing rounded-top mx-auto my-auto" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body border">
                    <h3 class="card-title">{{listing.name}}</h3>
                    <div class="row pb-2">
                        {% if listing.status %}
                        <div class="col-md-10 " style="color: green;">
                            Price : ${{listing.starting_price}}
                        </div>
                        {% else %}
                        <div class="col-md-10 " style="color: red;">
                            CLOSED
                        </div>
                        {% endif %}
                        <div class="col-md-2">
                            {% if owner %}
                                <a
                                    name=""
                                    id=""
                                    class="btn btn-primary"
                                    href="{% url "unlist" id=listing.id%}"
                                    role="button"
                                    >Close listing</a
                                >
                            {% else  %}
                                <a
                                    name=""
                                    id=""
                                    class="btn btn-primary"
                                    href="{% url "wish" id=listing.id%}"
                                    role="button"
                                    >
                                    {% if wish %}
                                    Watchlisted
                                    {% else %}
                                    Watchlist
                                    {% endif %}
                                    </a
                                >
                            {% endif %}
                        </div>
                    </div>
                    <p class="card-text text-limit">{% lorem how_many_paragraphs %} {% lorem how_many_paragraphs %} {% lorem how_many_paragraphs %} {% lorem how_many_paragraphs %}</p>
                    <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                    {% if listing.status %}
                        <form action="{% url "listing" id=listing.id %}" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {% with WIDGET_ERROR_CLASS='my_error' WIDGET_REQUIRED_CLASS='my_required' %}
                                <div>
                                    {% render_field bidForm.bid_amount class+="form-control m-2" placeholder="Please input your bid" %}
                                    <button type="submit" class="m-2">submit</button>
                                </div>
                            {% endwith %}
                        </form>
                    {% else %}
                        {% if winning %}
                        <div class="col-md-5 " style="color: green;">
                            Your are the winner of this auction!
                        </div>
                        {% else %}
                        <div class="col-md-5 " style="color: green;">
                            The item already been sold. <br/>The winner of this auction is : {{ listing.winner }}
                        </div>
                        {% endif %}
                        
                    {% endif %}
                    
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="text-center border-bottom">
            <h2>
                COMMENT
            </h2>
        </div>
        <div class="border-bottom p-2">
            <form action="{% url "listing" id=listing.id %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% with WIDGET_ERROR_CLASS='my_error' WIDGET_REQUIRED_CLASS='my_required' %}
                    <div>
                        {% render_field commentForm.comment class+="form-control m-2" placeholder="Add Comment" %}
                        <button type="submit" class="m-2">submit</button>
                    </div>
                {% endwith %}
                
            </form>
        </div>
        <div>
            {% for comment in comments %}
                <div class="m-2">
                    <strong>
                        {{ comment.commenter }} - {{comment.post_date}}
                    </strong>
                    <br/>
                    -    >{{ comment.comment }}
                </div>
            {% endfor %}
            <hr/>
        </div>
    </div>
{% endblock %}