{% extends "encyclopedia/layout.html" %}

{% block title %}
    New Page
{% endblock %}

{% block body %}
    <h1>Please input new page that you want</h1>

    <form action="{% url 'new_page' %}" method="POST">
        {% csrf_token %}
        <div>
            <input type="hidden" placeholder="Page Title" name="title" value="{{ title }}">
        </div>
        <div class="my-3">
            <textarea rows="4" cols="50" name="content" >{{ content|safe }}</textarea>
        </div>
        <input type="submit" value="Submit">
    </form>

{% endblock %}